<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travel_in_Taytay"
        tools:targetApi="34">
        <activity
            android:name=".Admin.Register"
            android:exported="false" />
        <activity
            android:name=".Admin.Login"
            android:exported="false" />
        <activity
            android:name=".User.Categories.ChurchCategories"
            android:exported="false" />
        <activity
            android:name=".User.Categories.ResortCategories"
            android:exported="false" />
        <activity
            android:name=".User.MostVisitPlace"
            android:exported="false" />
        <activity
            android:name=".User.Categories.ShopCategories"
            android:exported="false" />
        <activity
            android:name=".User.Categories.HospitalCategories"
            android:exported="false" />
        <activity
            android:name=".User.Categories.RestaurantCategories"
            android:exported="false" />
        <activity
            android:name=".User.Categories.BrgyCategories"
            android:exported="false" />
        <activity
            android:name=".User.Categories.SchoolsCategories"
            android:exported="false" />
        <activity
            android:name=".User.AllSearch"
            android:exported="false" />
        <activity
            android:name=".User.AllCategories"
            android:exported="false" />
        <activity
            android:name=".User.UserDashboard"
            android:exported="false" />
        <activity
            android:name=".Common.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>